:host {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  z-index: 1;
  transition: transform 0.3s ease-in-out box-shadow 0.3 ease-in-out;
  outline: none;
  animation: slide 1s;

  &:focus:not(.selected) {
    border-radius: 18px;
    box-shadow: 0 0 8px 2px var(--white-01);
  }

  .card {
    font-family: var(--card-font);
    height: 170px;
    min-width: 100px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    border: 1px solid var(--white-02);
    text-align: center;
    padding: 5px;
    font-weight: 500;
    font-size: clamp(20px, 25px, 30px);
    background-color: var(--gray-01);
    box-shadow:
      0px 0px 2.2px rgba(0, 0, 0, 0.02),
      0px 0px 5.3px rgba(0, 0, 0, 0.028),
      0px 0px 10px rgba(0, 0, 0, 0.035),
      0px 0px 17.9px rgba(0, 0, 0, 0.042),
      0px 0px 33.4px rgba(0, 0, 0, 0.05),
      0px 0px 80px rgba(0, 0, 0, 0.07);
    border-radius: 1rem;
    cursor: pointer;
    &.red {
      color: var(--secondary);
    }

    &.black {
      color: var(--black-02);
    }

    .left {
      display: flex;
      flex-direction: column;
    }

    .right {
      transform: rotate(180deg);
    }

    .center {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 50px;
    }

    img {
      width: 100%;
    }
  }

  &.disabled {
    &:focus:not(.selected) {
      box-shadow: 0 0 8px 0px var(--gray-02);
    }

    .card {
      cursor: not-allowed;
      background-color: var(--gray-02);
      border: 1px solid var(--gray-02);
    }
  }

  &.slide {
    animation: slide 1s;
  }

  &.slideOut {
    animation: slideOut 1s;
  }
}

@keyframes slide {
  from {
    margin-left: -100px;
  }
  to {
    margin-left: -70px;
  }
}

@keyframes slideOut {
  from {
    margin-left: -70px;
  }
  to {
    margin-left: -100px;
  }
}
