@use 'mixins' as *;
@use 'variables' as *;

* {
  bottom: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html[lang] body {
  @tailwind utilities;
}

html,
body {
  @include full-size();
  font-family: var(--general-font);
  background-color: var(--primary);

  input,
  button,
  a {
    font-family: var(--general-font);
    &:focus {
      outline: 2px solid var(--white);
      outline-offset: 2px;
    }
  }

  .primary-button {
    border-radius: 10px;
    color: var(--white);
    background-color: var(--yellow);
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    font-weight: 600;
    font-size: 16px;

    &,
    span {
      @include flex-center(row);
    }

    span {
      margin-right: 10px;
    }
  }

  button {
    border-radius: 6px;
    padding: 5px;
    font-weight: 500;
    border: 1px solid;
    border-color: currentColor;
    cursor: pointer;
    &[primary] {
      background-color: var(--primary);
      color: var(--white-01);
    }
    &[secondary] {
      background-color: var(--secondary);
      color: var(--white-01);
    }

    &:disabled {
      background-color: var(--gray-02);
      color: var(--gray-01);
      cursor: not-allowed;
    }
  }
}
