@use 'mixins' as *;

* {
  bottom: 0;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html[lang] body {
  @tailwind utilities;
}

html,
body {
  @include full-size();
  font-family: 'Roboto', serif;
}
