@use 'variables' as *;

button {
  border-radius: 6px;
  padding: 5px;
  font-weight: 500;
  border: 1px solid;
  border-color: currentColor;
  cursor: pointer;
  &[primary] {
    background-color: var(--primary);
    color: var(--white-01);
  }
  &[secondary] {
    background-color: var(--secondary);
    color: var(--white-01);
  }

  &:disabled {
    background-color: var(--gray-02);
    color: var(--gray-01);
    cursor: not-allowed;
  }
}
