$fonts: (
  general: "'Poppins', sans-serif",
  card: "'Space Grotesk','Roboto',sans-serif",
);

$colors: (
  primary: #005b4a,
  secondary: #b84443,
  black-01: #000000,
  black-02: #1e1b19,
  white-01: #ffffff,
  white-02: #eeeeee,
  gray-01: #d2d2d2,
  gray-02: #b7b7b7,
  yellow-01: #ffdd48,
  black: #17181f,
  green: #0b8770,
  yellow: #fdc461,
  red: #e02d5c,
  white: #fff,
  transparent-white: #bdb0b04d,
  grey: #a99a9a,
);

:root {
  @each $name, $color in $colors {
    --#{$name}: #{$color};
  }

  @each $name, $font in $fonts {
    --#{$name}-font: #{$font};
  }
}
